<form hx-post="/todos" hx-target="#todos-list" hx-swap="afterbegin" id="new-form">
  <label for="new-todo">New Todo:</label>
  <input type="text" id="new-todo" name="text" />
  <button type="submit">Add Todo</button>
</form>