<li id="todo-<%= todo.id %>">
  <%= todo.text %>
  <span class="material-symbols-outlined" hx-get="/todos/edit/<%= todo.id %>" hx-target="#form">edit</span>
  <span class="material-symbols-outlined" hx-delete="/todos/<%= todo.id %>" hx-target="#todos-list">delete</span>
</li>